header{
    margin-top: 70px;
}

header h1{
    width: 946px;
    height: 138px;
    margin-top: 80px;
    margin-left: 288px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 59px;
    color: white;
}

body {
    background-color: rgb(46, 46, 46);
}


#container {
    display: grid;
    width: 1238px;
    height: 257px;
    margin: 5% auto;
    background: #CA7900;
    border-radius: 40px;

}

label {

    width: 528px;
    height: 53px;
    margin: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;
    text-align: center;

    color: #FFFFFF;
}


#ClientAgeButton {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.btn {
    display: flex; 
    height: 76px;
    width: 225px;
    border-radius: 14px;

    background: #CA8500;
    border: 9px solid #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

    box-sizing: border-box;
}

button {
   
    width: 100%;
    background: #CA8500;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    border: 0px;
    color: #F5F5F5;

}

#btn.SIM button {

}

#btn.NÃO {
 

}